
<div class="contain">


<div id="carouselExampleAutoplaying" class="carousel slide homeBackground" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://image.tmdb.org/t/p/w500/{{movieList[0].backdrop_path}}" class="d-block w-100" alt="...">
          </div>
    
            <div class="carousel-item " data-bs-interval="2000">
                <img src="https://image.tmdb.org/t/p/w500/{{movieList[1].backdrop_path}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item " data-bs-interval="2000">
                <img src="https://image.tmdb.org/t/p/w500/{{movieList[2].backdrop_path}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item " data-bs-interval="2000">
                <img src="https://image.tmdb.org/t/p/w500/{{movieList[3].backdrop_path}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item " data-bs-interval="2000">
                <img src="https://image.tmdb.org/t/p/w500/{{movieList[4].backdrop_path}}" class="d-block w-100" alt="...">
              </div>
        
      
     
    </div>
    
    
  </div>
  <div class="homeText">
    <h1>
        Watch Free Movies On 
        <span class="text-info">E</span>Movies 
    </h1>
    <h3>
        A Free Website for most trending Movies
    </h3>
</div>
  <div class="overlay">

  </div>
</div>


