.movie{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}
.poster{
    border-radius: 15%;
    width: 200px;
}
.imageItem:hover{
scale:110%    ;
cursor: pointer;
}
